.vs/ProjectEvaluation/reservation.metadata.v7.bin
.vs/ProjectEvaluation/reservation.projects.v7.bin
.vs/Reservation/DesignTimeBuild/.dtbcache.v2
.vs/Reservation/FileContentIndex/7ff810bc-0e3e-4fb0-bab8-ffd41a748eac.vsidx
.vs/Reservation/FileContentIndex/86d5f3d4-70e8-497c-9c0b-a3856bb15876.vsidx
.vs/Reservation/FileContentIndex/328230d1-c87e-4719-99de-ca79c4353a33.vsidx
.vs/Reservation/FileContentIndex/e3dabb08-1576-41bd-987e-8544a6232860.vsidx
.vs/Reservation/FileContentIndex/f0252724-7c1f-458b-b242-b9f0f42ddffc.vsidx
.vs/Reservation/config/applicationhost.config
.vs/Reservation/v17/.futdcache.v2
.vs/Reservation/v17/.suo
Reservation.Application/bin/Debug/net8.0/Reservation.Application.deps.json
Reservation.Application/bin/Debug/net8.0/Reservation.Application.dll
Reservation.Application/bin/Debug/net8.0/Reservation.Application.pdb
Reservation.Application/bin/Debug/net8.0/Reservation.Domain.dll
Reservation.Application/bin/Debug/net8.0/Reservation.Domain.pdb
Reservation.Application/obj/project.assets.json
Reservation.Application/obj/project.nuget.cache
Reservation.Application/obj/Reservation.Application.csproj.nuget.dgspec.json
Reservation.Application/obj/Reservation.Application.csproj.nuget.g.props
Reservation.Application/obj/Reservation.Application.csproj.nuget.g.targets
Reservation.Application/obj/Reservation.Service.csproj.nuget.dgspec.json
Reservation.Application/obj/Reservation.Service.csproj.nuget.g.props
Reservation.Application/obj/Reservation.Service.csproj.nuget.g.targets
Reservation.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Reservation.Application/obj/Debug/net8.0/Reservation.Application.AssemblyInfo.cs
Reservation.Application/obj/Debug/net8.0/Reservation.Application.AssemblyInfoInputs.cache
Reservation.Application/obj/Debug/net8.0/Reservation.Application.assets.cache
Reservation.Application/obj/Debug/net8.0/Reservation.Application.csproj.AssemblyReference.cache
Reservation.Application/obj/Debug/net8.0/Reservation.Application.csproj.BuildWithSkipAnalyzers
Reservation.Application/obj/Debug/net8.0/Reservation.Application.csproj.CopyComplete
Reservation.Application/obj/Debug/net8.0/Reservation.Application.csproj.CoreCompileInputs.cache
Reservation.Application/obj/Debug/net8.0/Reservation.Application.csproj.FileListAbsolute.txt
Reservation.Application/obj/Debug/net8.0/Reservation.Application.dll
Reservation.Application/obj/Debug/net8.0/Reservation.Application.GeneratedMSBuildEditorConfig.editorconfig
Reservation.Application/obj/Debug/net8.0/Reservation.Application.GlobalUsings.g.cs
Reservation.Application/obj/Debug/net8.0/Reservation.Application.pdb
Reservation.Application/obj/Debug/net8.0/Reservation.Service.AssemblyInfo.cs
Reservation.Application/obj/Debug/net8.0/Reservation.Service.AssemblyInfoInputs.cache
Reservation.Application/obj/Debug/net8.0/Reservation.Service.assets.cache
Reservation.Application/obj/Debug/net8.0/Reservation.Service.GeneratedMSBuildEditorConfig.editorconfig
Reservation.Application/obj/Debug/net8.0/Reservation.Service.GlobalUsings.g.cs
Reservation.Application/obj/Debug/net8.0/ref/Reservation.Application.dll
Reservation.Application/obj/Debug/net8.0/refint/Reservation.Application.dll
Reservation.Domain/bin/Debug/net8.0/Reservation.Domain.deps.json
Reservation.Domain/bin/Debug/net8.0/Reservation.Domain.dll
Reservation.Domain/bin/Debug/net8.0/Reservation.Domain.pdb
Reservation.Domain/obj/project.assets.json
Reservation.Domain/obj/project.nuget.cache
Reservation.Domain/obj/Reservation.Domain.csproj.nuget.dgspec.json
Reservation.Domain/obj/Reservation.Domain.csproj.nuget.g.props
Reservation.Domain/obj/Reservation.Domain.csproj.nuget.g.targets
Reservation.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.AssemblyInfo.cs
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.AssemblyInfoInputs.cache
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.assets.cache
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.csproj.BuildWithSkipAnalyzers
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.csproj.CoreCompileInputs.cache
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.csproj.FileListAbsolute.txt
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.dll
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.GeneratedMSBuildEditorConfig.editorconfig
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.GlobalUsings.g.cs
Reservation.Domain/obj/Debug/net8.0/Reservation.Domain.pdb
Reservation.Domain/obj/Debug/net8.0/ref/Reservation.Domain.dll
Reservation.Domain/obj/Debug/net8.0/refint/Reservation.Domain.dll
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Application.dll
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Application.pdb
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Domain.dll
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Domain.pdb
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Infrastructure.deps.json
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Infrastructure.dll
Reservation.Infrastructure/bin/Debug/net8.0/Reservation.Infrastructure.pdb
Reservation.Infrastructure/obj/project.assets.json
Reservation.Infrastructure/obj/project.nuget.cache
Reservation.Infrastructure/obj/Reservation.Infrastructure.csproj.nuget.dgspec.json
Reservation.Infrastructure/obj/Reservation.Infrastructure.csproj.nuget.g.props
Reservation.Infrastructure/obj/Reservation.Infrastructure.csproj.nuget.g.targets
Reservation.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.AssemblyInfo.cs
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.AssemblyInfoInputs.cache
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.assets.cache
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.csproj.AssemblyReference.cache
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.csproj.BuildWithSkipAnalyzers
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.csproj.CopyComplete
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.csproj.CoreCompileInputs.cache
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.csproj.FileListAbsolute.txt
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.dll
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.GlobalUsings.g.cs
Reservation.Infrastructure/obj/Debug/net8.0/Reservation.Infrastructure.pdb
Reservation.Infrastructure/obj/Debug/net8.0/ref/Reservation.Infrastructure.dll
Reservation.Infrastructure/obj/Debug/net8.0/refint/Reservation.Infrastructure.dll
Reservation.WebApi/bin/Debug/net8.0/appsettings.Development.json
Reservation.WebApi/bin/Debug/net8.0/appsettings.json
Reservation.WebApi/bin/Debug/net8.0/Azure.Core.dll
Reservation.WebApi/bin/Debug/net8.0/Azure.Identity.dll
Reservation.WebApi/bin/Debug/net8.0/google_credentials.json
Reservation.WebApi/bin/Debug/net8.0/Google.Apis.Auth.dll
Reservation.WebApi/bin/Debug/net8.0/Google.Apis.Calendar.v3.dll
Reservation.WebApi/bin/Debug/net8.0/Google.Apis.Core.dll
Reservation.WebApi/bin/Debug/net8.0/Google.Apis.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Identity.Client.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
Reservation.WebApi/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
Reservation.WebApi/bin/Debug/net8.0/Newtonsoft.Json.dll
Reservation.WebApi/bin/Debug/net8.0/Reservation.Application.dll
Reservation.WebApi/bin/Debug/net8.0/Reservation.Application.pdb
Reservation.WebApi/bin/Debug/net8.0/Reservation.Domain.dll
Reservation.WebApi/bin/Debug/net8.0/Reservation.Domain.pdb
Reservation.WebApi/bin/Debug/net8.0/Reservation.Infrastructure.dll
Reservation.WebApi/bin/Debug/net8.0/Reservation.Infrastructure.pdb
Reservation.WebApi/bin/Debug/net8.0/Reservation.WebApi.deps.json
Reservation.WebApi/bin/Debug/net8.0/Reservation.WebApi.dll
Reservation.WebApi/bin/Debug/net8.0/Reservation.WebApi.exe
Reservation.WebApi/bin/Debug/net8.0/Reservation.WebApi.pdb
Reservation.WebApi/bin/Debug/net8.0/Reservation.WebApi.runtimeconfig.json
Reservation.WebApi/bin/Debug/net8.0/System.ClientModel.dll
Reservation.WebApi/bin/Debug/net8.0/System.CodeDom.dll
Reservation.WebApi/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
Reservation.WebApi/bin/Debug/net8.0/System.Drawing.Common.dll
Reservation.WebApi/bin/Debug/net8.0/System.Formats.Asn1.dll
Reservation.WebApi/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
Reservation.WebApi/bin/Debug/net8.0/System.Management.dll
Reservation.WebApi/bin/Debug/net8.0/System.Memory.Data.dll
Reservation.WebApi/bin/Debug/net8.0/System.Runtime.Caching.dll
Reservation.WebApi/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
Reservation.WebApi/bin/Debug/net8.0/System.Security.Permissions.dll
Reservation.WebApi/bin/Debug/net8.0/System.Windows.Extensions.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Management.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Reservation.WebApi/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Reservation.WebApi/obj/project.assets.json
Reservation.WebApi/obj/project.nuget.cache
Reservation.WebApi/obj/Reservation.WebApi.csproj.nuget.dgspec.json
Reservation.WebApi/obj/Reservation.WebApi.csproj.nuget.g.props
Reservation.WebApi/obj/Reservation.WebApi.csproj.nuget.g.targets
Reservation.WebApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Reservation.WebApi/obj/Debug/net8.0/apphost.exe
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.AssemblyInfo.cs
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.AssemblyInfoInputs.cache
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.assets.cache
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.csproj.AssemblyReference.cache
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.csproj.BuildWithSkipAnalyzers
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.csproj.CopyComplete
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.csproj.CoreCompileInputs.cache
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.csproj.FileListAbsolute.txt
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.dll
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.GeneratedMSBuildEditorConfig.editorconfig
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.genruntimeconfig.cache
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.GlobalUsings.g.cs
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.MvcApplicationPartsAssemblyInfo.cache
Reservation.WebApi/obj/Debug/net8.0/Reservation.WebApi.pdb
Reservation.WebApi/obj/Debug/net8.0/staticwebassets.build.json
Reservation.WebApi/obj/Debug/net8.0/ref/Reservation.WebApi.dll
Reservation.WebApi/obj/Debug/net8.0/refint/Reservation.WebApi.dll
Reservation.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.build.Reservation.WebApi.props
Reservation.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Reservation.WebApi.props
Reservation.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Reservation.WebApi.props
